<!DOCTYPE html>
<html>
    <head>
        <titlle>404</titlle>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div> 

        {{>footer}}
    </body>
</html>